# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=iterimdb
MYSQL_USER=interim_admin
MYSQL_PASSWORD=

 

# Domain & HTTPS (Caddy will auto‑obtain SSL)
DOMAIN=iterim.online

 

# JWT Settings
JWT_SECRET=
JWT_ISSUER=https://${DOMAIN}
JWT_AUDIENCE=https://${DOMAIN}

 

# Email (SMTP / Gmail)
SMTP_FROM_ADDRESS=noreply@iterim.online
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=iterimapp@gmail.com
SMTP_PASSWORD=